* {
  background-color: rgb(178, 218, 234)
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.login-title {
  text-align: center;
}

.date-card {
  color: black;
  outline-style: dashed;
  margin-left: auto;
  margin: auto; 
  position: center;
  background-color: rgb(105, 31, 105);
  max-width: 300px;
  width: 500px;
  height: 200px;
  overflow-x: hidden;
  overflow-y: auto;
  text-align:justify;
  width: 500px;
  height: 100px;
  overflow-x: hidden;
  overflow-y: auto;
  text-align:justify;
}

.game-card {
  color: black;
  outline-style: groove;
  margin-left: auto;
  margin: auto; 
  position: center;
  background-color: rgb(135, 73, 135);
  max-width: flex;
  max-height: flex;
  overflow-x: hidden;
  overflow-y: auto;
  text-align:justify;
  width: 500px;
  height: 500px;
  
  border-radius: 1%;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 10%
}

.rated-games {
  outline-color: black;
  outline-style: groove;
  outline-width: 1px;
}

.game-link {
  outline-color: black;
  outline-style: groove;
  outline-width: 1px;
}
